@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "futura";
  src: url("./assets/Futura/FuturaPTLight.otf") format("opentype"),
    url("./assets/Futura/FuturaPTExtraBold.otf") format("opentype"),
    url("./assets/Futura/FuturaPTHeavy.otf") format("opentype"),
    url("./assets/Futura/FuturaPTMedium.otf") format("opentype");
  font-style: normal;
} */

/* 
@font-face {
  font-family: "neue";
  src: url("./assets/Neue-Kabel/NeueKabel-ExtraBold.otf") format("opentype"),
    url("./assets/Neue-Kabel/NeueKabel-Bold.otf") format("opentype"),
    url("./assets/Neue-Kabel/NeueKabel-Light.otf") format("opentype");
} */

@font-face {
  font-family: "neue";
  src: url("./assets/Neue-Kabel/NeueKabel-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "neue";
  src: url("./assets/Neue-Kabel/NeueKabel-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "neue";
  src: url("./assets/Neue-Kabel/NeueKabel-ExtraBold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "futura";
  src: url("./assets/Futura/FuturaPTLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futura";
  src: url("./assets/Futura/FuturaPTHeavy.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.fontBold {
  font-family: "futura";
}

.futura300 {
  font-family: "futura", sans-serif;
  font-weight: 300;
}

.futura800 {
  font-family: "futura", sans-serif;
  font-weight: 800;
}

.futura900 {
  font-family: "futura", sans-serif;
  font-weight: 900;
}

.futura500 {
  font-family: "futura", sans-serif;
  font-weight: 500;
}

.neue800 {
  font-family: "neue", sans-serif;
  font-weight: 800;
}

.neue700 {
  font-family: "neue", sans-serif;
  font-weight: 700;
}

.neue300 {
  font-family: "neue", sans-serif;
  font-weight: 300;
}

/* CSS */
::-webkit-input-placeholder {
  /* WebKit browsers (Chrome, Safari) */
  color: #9ea587 !important; /* Change to your desired color */
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #9ea587 !important; /* Change to your desired color */
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #9ea587 !important; /* Change to your desired color */
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #9ea587 !important; /* Change to your desired color */
}

::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 22px; /* Adjust the size as needed */
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  min-height: 100vh;
  background-color: #f8f6ee;
}

/* Apply neue font to headings */
h1,
h2,
h3,
h4,
h5,
label,
h6 {
  font-family: "neue";
}

p,
a {
  font-family: "futura";
  font-weight: normal;
  line-height: 1.5 !important;
}

.swiper-pagination-bullet {
  background-color: #0c190e;
}

.paddingX {
  padding-inline: 100px;
}

.paddingXS {
  padding-inline: 48px;
}

.swiper {
  width: 100%;
  height: 100%;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-between-start {
    @apply flex justify-between items-start;
  }

  .flex-start {
    @apply flex justify-start items-start;
  }
  .flex-end {
    @apply flex justify-end items-start;
  }
  .flex-start-center {
    @apply flex justify-start items-center;
  }

  .flex-col-start {
    @apply flex flex-col justify-start items-start;
  }

  .flex-col-between {
    @apply flex flex-col justify-between items-center;
  }

  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }

  /*===================================== Fonts  =====================================*/
  .h1-bold {
    @apply text-[80px] leading-none;
  }

  .h2 {
    @apply text-[60px] leading-none;
  }

  .h2-55 {
    @apply text-[55px] leading-none;
  }

  .h3 {
    @apply text-[40px] leading-none;
  }

  .h4 {
    @apply text-[36px]  leading-none;
  }

  .h5 {
    @apply text-[34px]  leading-none;
  }

  .h6 {
    @apply text-[30px] leading-none;
  }

  .h8 {
    @apply text-[28px] leading-none;
  }
  .h9 {
    @apply text-[26px] leading-none;
  }
  .h7 {
    @apply text-[24px] leading-none;
  }

  .body-regular1 {
    @apply text-[21px] leading-none;
  }

  .body-regular {
    @apply text-[20px] leading-none;
  }

  .body-18 {
    @apply text-[18px] leading-none;
  }

  .body-medium {
    @apply text-[16px]  leading-none;
  }

  .body-small {
    @apply text-[14px]  leading-none;
  }

  .small-regular {
    @apply text-[12px] font-normal leading-none;
  }

  .subtle-regular {
    @apply text-[10px] font-normal leading-none;
  }
}
